
.bolder {
    font-weight: 700;
}

header nav .brand {
    width: 132px;
}

header nav .brand svg {
    fill: white;
    height: 100%;
}

header nav {
    height: 50px;
    background-color: #f72210;
}

.d-flex.align-items-center > button:nth-child(2){
    font-size: .7em;
    border-radius: 16px;
    padding: 3px;
    font-weight: 700;
    background-color: #ffe400;
}

main {
    position: relative;
    top: 50px;
    background-color: #f4f5f7;
    font-family: 'Roboto Condensed', sans-serif;
}

main div.wrapper-content {
    max-width: 1310px;
}

main .story-cards span {
   color: rgba(3, 3, 3, 0.4);
   font-weight: 700;
   letter-spacing: -1px;
}

main .story-cards figure   {
    position: relative;
}
main .story-cards figure a{
     position: absolute;
     left: 0;
     bottom: 0;
}

main .story-cards  h2 a {
    display: inline-block;
    color: black;
    font-size: 0.6em;
    font-weight: 700;
    line-height: 1;
}

main .story-cards p {
    font-size: 0.82em;
}

.debate-section article > a,
.opinion  > a
 {
    color: rgba(3, 3, 3, 0.4);
}

.debate-section .wrapper-debate {
    height: 290px;
    background-color: #fff;    
}

.debate-section .wrapper-debate .versus {
    height: 10%;
    position: relative;
    justify-content: center;
}

.debate-section .wrapper-debate .versus div {
    border: 0.1px solid #333;
    height: 11%;
}

.debate-section .wrapper-debate .versus i {
    position: absolute;
    background-color: #000;
    font-weight: 700;
    
}

.debate-section .media.first {
    border-top: 3px solid red;
    height: 40%;
}

.debate-section .debate.media:last-child {
    
    border-bottom: 3px solid #1c87fb;
    height: 40%;
}


.debate-section .debate.media img {
    max-width: 63px;
    max-height: 63px;
    
}

.debate-section .debate.media h3 {
    font-size: 1em;
    font-weight: 700;
}

.debate-section .debate.media p span{
    font-size: 1em;
    font-weight: 700;
}

.debate-section .opinion .media .media-body a {
    display: inline-block;
    font-size: 1.03em;
    font-weight: 700;
    color: #000;    
    line-height: 1;
}

.debate-section .opinion .media .media-body p {
    font-size: 0.85em;
    color: #555;
}

.featured-stories.sponsored-section > div > * {
    border: 1px solid #e6e6e6;
    width: 100%;
}

.more-stories-hero .more-stories li:first-child {
    color: rgba(3, 3, 3, 0.4);
}

.more-stories-hero .more-stories a {
    color: #000;
    font-size: 17px;
}

.more-stories-hero .more-stories p {
    font-size: 14px;
    margin-bottom: 0;
}

.main-stories  span {
    display: inline-block;
    border: 1px solid #333;
    background-color: white;
    left: 0;
    bottom: 0;
}

.main-stories .my-turn-and-culture {
    border: 0;
}

.main-stories .my-turn-and-culture h2 a {
    font-size: 0.5em;
    color: rgba(3, 3, 3, 0.4); 
}

.main-stories .my-turn-and-culture .card-tittle {
    color: rgba(3, 3, 3, 0.5);
}

.sponsored-section-2 .form {
    background-color: #f4f5f6;
    max-width: 80%;
    
}

.sponsored-section-2 .form  div.d-flex{
    align-items: center;
}

.sponsored-section-2 .form  div.d-flex label {
    line-height: 1;
    font-size: 1.2em;
}

.sponsored-section-2 .form input {
    border: 1px solid rgb(206, 202, 202);
}

.sponsored-section-2 .form button {
    background-color: #f61602;

}

.sponsored-section-2 .form span {
    display: inline-block;
    text-align: center;
    width: 29px;
    height: 28px;
    background-color: #f61602;
    color: #fff;
}

