@media (min-width: 768px) {
   html {
     background-color: #f4f5f6;
   }
  
   body {
  
   }

  .top-story{
        order: 1;
    }
   
  .more-stories-hero {
    order: 4;

    }

  .debate-section  {
    order: 5;
    } 
 


   .story-cards.featured-stories {
    order: 0;
   }

   

   .story-cards.featured-stories.sponsored-section  {
    order: 3;
    

   }

   .story-cards.featured-stories.sponsored-section.sponsored-section-2 {
    order: 6;
    max-width: 362px;
    margin: 0 auto;

   }

   .sponsored-section.sponsored-section-2 .form {
    max-width: 90%;
    
}

   .header nav div button:first-child {
    font-size: 18px;
   }
   
    
   .header button.subscribe-btn {
    width: 128px;
    font-size: 1.1em;
  }

   .header nav div button:last-child {
     font-size: 28px;
     color: rgba(255, 255, 255, 0.6);
   }

   body.container-fluid.p-0 {
     background-color: white; 
   }

   .my-turn-and-culture {
     padding-bottom: 0;
   }

   div.magazine-wrapper h6 {
     margin: 0 1em;
     width: calc(100%-2em);
     border-bottom: 1px solid #d9d9d9;
     padding-bottom: 0.5em;
   }
    
   .in-the-magazine div.magazine img {
       height: 160px;
   }

   .in-the-magazine div.magazine a {
    font-size: 1.2em;
}



   


   
  }


